In [3]:
import pandas as pd
import numpy as np

# Simple Movie recommender

The Simple Recommender offers generalized recommnendations to every user based on movie popularity and (sometimes) genre. The basic idea behind this recommender is that movies that are more popular and more critically acclaimed will have a higher probability of being liked by the average audience. This model does not give personalized recommendations based on the user.sort movies based on popularity and rating and can also represent top movies for a specific genre

In [4]:
movies_df = pd. read_csv('datasets/movies_metadata.csv')
movies_df.head()

c:\users\ameya gupta\miniconda3\lib\site-packages\IPython\core\interactiveshell.py:3169: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [5]:
movies_df.shape

(45466, 24)

Using IMDB'S weighted rating formula to get the top movies chart.

Weighted Rating (WR) = (v / (v+m) ).R + (m / (v+m) ).C
    v is the number of votes for the movie
    m is the minimum votes required
    R is the average rating of the movie
    C is the mean vote across the whole report

In [6]:
C = movies_df['vote_average'].mean() #mean imdb score
m = movies_df['vote_count'].quantile(0.80) #minimum vote count(top 20 percentile)

In [7]:
#just making a copy of original data frame with top 20 percentile movies(more votes than 80% of other movies)
movies_df2 = movies_df.copy().loc[movies_df['vote_count'] >= m]

In [8]:
print(C,m)

5.618207215134185 50.0

In [9]:
# calcuting score
def weighted_rating(x, m=m, C=C):
    v = x['vote_count']
    R = x['vote_average']
    # Calculation based on the IMDB formula
    return (v/(v+m) * R) + (m/(m+v) * C)

In [10]:
# Adding a score column
movies_df2['score'] = movies_df2.apply(weighted_rating , axis = 1)

In [11]:
movies_df2 = movies_df2.sort_values('score', ascending=False)

# Top 15 predictions

In [12]:
movies_df2[['original_title', 'vote_count', 'vote_average', 'score']].head(15)

                        original_title  vote_count  vote_average     score
10309      Dilwale Dulhania Le Jayenge       661.0           9.1  8.855148
314           The Shawshank Redemption      8358.0           8.5  8.482863
834                      The Godfather      6024.0           8.5  8.476278
40251                            君の名は。      1030.0           8.5  8.366584
12481                  The Dark Knight     12269.0           8.3  8.289115
2843                        Fight Club      9678.0           8.3  8.286216
292                       Pulp Fiction      8670.0           8.3  8.284623
522                   Schindler's List      4436.0           8.3  8.270109
23673                         Whiplash      4376.0           8.3  8.269704
5481                          千と千尋の神隠し      3968.0           8.3  8.266628
2211                   La vita è bella      3643.0           8.3  8.263691
1178            The Godfather: Part II      3418.0           8.3  8.261335
1152   One Flew Over the Cuckoo's Nest      3001.0           8.3  8.256051
1176                            Psycho      2405.0           8.3  8.245381
351                       Forrest Gump      8147.0           8.2  8.184252

# Genre based selection of top movies

In [13]:
#converting into pandas series(1-D) and stacking the same genres together
s = movies_df.apply(lambda x: pd.Series(x['genres']),axis=1).stack().reset_index(level=1, drop=True)
s.name = 'genre'
#joining movies dataset with s containing id and genres
gen_moviesdf = movies_df.drop('genres', axis=1).join(s)

In [14]:
#type(gen_moviesdf['genre'][0].find('Adventure'))
#df = gen_moviesdf[gen_moviesdf['budget'] == -1]
#df.loc[len(df.index)] = gen_moviesdf.iloc[10].to_list()
#df.reset_index(level=0, drop=True)
#print(df)
#counter = 0
#for i in range(len(gen_moviesdf['genre'])):
#    if(gen_moviesdf['genre'][i].find('Action') == -1):
#        continue
#    df.loc[counter] = gen_moviesdf.iloc[i].to_list()
#    counter += 1
#print(df)

In [15]:
### getting the df with row containg that particular movie rest is same as before using imdb rating formula
def get_movie(genre, percentile=0.85):
    df = gen_moviesdf[gen_moviesdf['budget'] == -1]
    counter = 0
    for i in range(len(gen_moviesdf['genre'])):
        if(gen_moviesdf['genre'][i].find(genre) == -1):
            continue
        df.loc[counter] = gen_moviesdf.iloc[i].to_list()
        counter += 1
    C = df['vote_average'].mean()
    m = df['vote_count'].quantile(percentile)
    df2 = df[df['vote_count'] >= m][['original_title', 'vote_count', 'vote_average','popularity']]
    
    # Calculation based on the IMDB formula
    df2['score'] = df2.apply(lambda x:(x['vote_count']/(x['vote_count']+m)*x['vote_average'])
                             +(m/(m+x['vote_count'])*C),axis=1)
    df2 = df2.sort_values('score', ascending=False)
    return df2

# Top 15 action movies

In [16]:
print(get_movie('Romance').head(15))

c:\users\ameya gupta\miniconda3\lib\site-packages\pandas\core\indexing.py:692: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value, self.name)

                             original_title  vote_count  vote_average  \
2308            Dilwale Dulhania Le Jayenge       661.0           9.1
6155                                  君の名は。      1030.0           8.5
90                             Forrest Gump      8147.0           8.2
283                   Nuovo Cinema Paradiso       834.0           8.2
6223                             La La Land      4745.0           7.9
4161                                    Her      4215.0           7.9
1629  Eternal Sunshine of the Spotless Mind      3758.0           7.9
213                                 Vertigo      1162.0           8.0
701                             City Lights       444.0           8.2
3270                             Mr. Nobody      1616.0           7.9
6027                      Captain Fantastic      1569.0           7.9
217                        Some Like It Hot       835.0           8.0
219                              Casablanca      1462.0           7.9
3927                               Paperman       734.0           8.0
4438               The Theory of Everything      3403.0           7.8

     popularity     score
2308  34.457024  8.701372
6155  34.461252  8.281258
90    48.307194  8.173547
283   14.177005  7.964387
6223  19.681686  7.860576
4161  13.829515  7.855724
1629  12.906327  7.850467
213    18.20822  7.840579
701   10.891524  7.792600
3270  11.817059  7.788307
6027  16.519276  7.785145
217   11.845107  7.784276
219   13.916101  7.777231
3927   7.198633  7.757863
4438   11.85302  7.748036

# Content based recommender

There are certain limitations to the simple recommender used till now.suppose a person particularly likes fatasy movies many of them didn't make it to the top list.suppose the movies that person likes are harry potter ,fantastic beasts this might mean he likes movies directed by david yates .
Thats why content based recommender is used to give the best recommendations for a movie similar to a particular movie a person liked .
Building two Content Based Recommenders based on:
    Movie Overviews and Taglines
    Movie Cast, Crew, Keywords and Genre

In [17]:
links_small = pd.read_csv('datasets/links_small.csv')
links_small = links_small['tmdbId']
links_small

0          862.0
1         8844.0
2        15602.0
3        31357.0
4        11862.0
          ...
9120    402672.0
9121    315011.0
9122    391698.0
9123    137608.0
9124    410803.0
Name: tmdbId, Length: 9125, dtype: float64

In [18]:
def convert_int(x):
    try:
        return int(x)
    except:
        return np.nan

In [19]:
movies_df['id'] = movies_df['id'].apply(convert_int)

In [20]:
movies_df[movies_df['id'].isnull()]

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
19730,- Written by Ørnås,0.065736,/ff9qCepilowshEtG2GYWwzt2bs4.jpg,"[{'name': 'Carousel Productions', 'id': 11176}...","[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...",NaN,0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29503,Rune Balot goes to a casino connected to the ...,1.931659,/zV8bHuSL6WXoD6FWogP9j4x80bL.jpg,"[{'name': 'Aniplex', 'id': 2883}, {'name': 'Go...","[{'iso_3166_1': 'US', 'name': 'United States o...",NaN,0,68.0,"[{'iso_639_1': 'ja', 'name': '日本語'}]",Released,...,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35587,Avalanche Sharks tells the story of a bikini ...,2.185485,/zaSf5OG7V8X8gqFvly88zDdRm46.jpg,"[{'name': 'Odyssey Media', 'id': 17161}, {'nam...","[{'iso_3166_1': 'CA', 'name': 'Canada'}]",NaN,0,82.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,...,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

We need to perform a left join of our original movies metadata dataframe with the small_links dataframe on the TMDB Movie ID. Before we are able to perform this join, we need to make sure that the ID column of our main dataframe is clean and of type integer. To do this, let us try to perform an integer conversion of our IDs and if an exception is raised,we will replace the ID with NaN. We will then proceed to drop these rows from our dataframe.

In [21]:
movies_df = movies_df.drop([19730, 29503, 35587])
smallmovies_df = movies_df[movies_df['id'].isin(links_small)]
smallmovies_df

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862.0,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844.0,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602.0,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357.0,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862.0,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40224,False,NaN,15000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,315011.0,tt4262980,ja,シン・ゴジラ,From the mind behind Evangelion comes a hit la...,...,2016-07-29,77000000.0,120.0,"[{'iso_639_1': 'it', 'name': 'Italiano'}, {'is...",Released,A god incarnate. A city doomed.,Shin Godzilla,False,6.6,152.0
40503,False,NaN,0,"[{'id': 99, 'name': 'Documentary'}, {'id': 104...",http://www.thebeatlesliveproject.com/,391698.0,tt2531318,en,The Beatles: Eight Days a Week - The Touring Y...,"The band stormed Europe in 1963, and, in 1964,...",...,2016-09-15,0.0,99.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The band you know. The story you don't.,The Beatles: Eight Days a Week - The Touring Y...,False,7.6,92.0
44821,False,"{'id': 34055, 'name': 'Pokémon Collection', 'p...",16000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",http://movies.warnerbros.com/pk3/,10991.0,tt0235679,ja,Pokémon 3: The Movie,When Molly Hale's sadness of her father's disa...,...,2000-07-08,68411275.0,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Pokémon: Spell of the Unknown,Pokémon: Spell of the Unknown,False,6.0,144.0
44826,False,"{'id': 34055, 'name': 'Pokémon Collection', 'p...",0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",http://www.pokemon.com/us/movies/movie-pokemon...,12600.0,tt0287635,ja,劇場版ポケットモンスター セレビィ 時を越えた遭遇（であい）,"All your favorite Pokémon characters are back,...",...,2001-07-06,28023563.0,75.0,"[{'iso_639_1': 'ja', 'name': '日本語'}]",Released,NaN,Pokémon 4Ever: Celebi - Voice of the Forest,False,5.7,82.0
45265,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,265189.0,tt2121382,sv,Turist,"While holidaying in the French Alps, a Swedish...",...,2014-08-15,1359497.0,118.0,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",Released,NaN,Force Majeure,False,6.8,255.0

# Movie description(overview+taglines) based recommender

Building a recommender using movie description and taglines

In [22]:
smallmovies_df['tagline'] = smallmovies_df['tagline'].fillna('')
smallmovies_df['description'] = smallmovies_df['overview'] + smallmovies_df['tagline']
smallmovies_df['description'] = smallmovies_df['description'].fillna('')

<ipython-input-22-066f7d8899e3>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  smallmovies_df['tagline'] = smallmovies_df['tagline'].fillna('')
<ipython-input-22-066f7d8899e3>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  smallmovies_df['description'] = smallmovies_df['overview'] + smallmovies_df['tagline']
<ipython-input-22-066f7d8899e3>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  smallmovies_df['description'] = smallmovies_df['description'].fillna('')

In [23]:
#smallmovies_df.info()

# TF-IDF

In [25]:
#youtube link for tf-idf : https://www.youtube.com/watch?v=D2V1okCEsiE
from sklearn.feature_extraction.text import TfidfVectorizer
tf = TfidfVectorizer(analyzer='word',ngram_range=(1, 2),min_df=0, stop_words='english')
tfidf_matrix = tf.fit_transform(smallmovies_df['description'])

In [26]:
tfidf_matrix.shape #longest description has 268124 words

(9099, 268124)

# Cosine similarity

Cosine similarity here represent a numeric quantity that determines the similarity between two movies.Mathematically it can be represented as:-
Cosine(x, y) = x.y/||x||*||y||
As we are using tfidf first we have x,y in form of vectors so cosine similarity is simply the dot product for the same.We will use the linear_kernel to calculate dot product(np.dot doesn't work due to variation in dimensions)

In [27]:
from sklearn.metrics.pairwise import cosine_similarity,linear_kernel

In [28]:
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)
#cs = np.dot(tfidf_matrix,tfidf_matrix)

In [29]:
cosine_sim.shape

(9099, 9099)

In [30]:
smallmovies_df = smallmovies_df.reset_index()
titles = smallmovies_df['title']
indices = pd.Series(smallmovies_df.index, index=smallmovies_df['title'])

In [31]:
#cosine_sim is a pairvise similarity matrix for movies and considering the top 30 ones for each title
def get_recommendations(title):
    idx = indices[title]
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:31] #taking first 30 top scores 
    movie_indices = [i[0] for i in sim_scores]
    return titles.iloc[movie_indices]

In [32]:
get_recommendations('The Godfather').head(10) #movies related to god father

973      The Godfather: Part II
8387                 The Family
3509                       Made
4196         Johnny Dangerously
29               Shanghai Triad
5667                       Fury
2412             American Movie
1582    The Godfather: Part III
4221                    8 Women
2159              Summer of Sam
Name: title, dtype: object

In [33]:
get_recommendations('The Dark Knight').head(10)

7931                      The Dark Knight Rises
132                              Batman Forever
1113                             Batman Returns
8227    Batman: The Dark Knight Returns, Part 2
7565                 Batman: Under the Red Hood
524                                      Batman
7901                           Batman: Year One
2579               Batman: Mask of the Phantasm
2696                                        JFK
8165    Batman: The Dark Knight Returns, Part 1
Name: title, dtype: object

# Metadata based recommender

As we can see in movie description based recommender that if user selects The Dark Knight as title the recommender indentifies it is a batman movie and given all batman related movies as the top recommendations. This results into certain limitations
The user might like the movie because of particular cast and direction.
So some of the recommendations are useless for him .We take metadata like crew,genre,keywords into account and then prepare a recommender model

In [34]:
ml = []
for chunk in  pd.read_csv('datasets/credits.csv',sep=',',chunksize= 20000):
    ml.append(chunk)

credits = pd.concat(ml, axis= 0)
del ml

In [35]:
credits

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862
...,...,...,...
45471,"[{'cast_id': 0, 'character': '', 'credit_id': ...","[{'credit_id': '5894a97d925141426c00818c', 'de...",439050
45472,"[{'cast_id': 1002, 'character': 'Sister Angela...","[{'credit_id': '52fe4af1c3a36847f81e9b15', 'de...",111109
45473,"[{'cast_id': 6, 'character': 'Emily Shaw', 'cr...","[{'credit_id': '52fe4776c3a368484e0c8387', 'de...",67758
45474,"[{'cast_id': 2, 'character': '', 'credit_id': ...","[{'credit_id': '533bccebc3a36844cf0011a7', 'de...",227506
45475,[],"[{'credit_id': '593e676c92514105b702e68e', 'de...",461257

In [36]:
keywords = pd.read_csv('datasets/keywords.csv')
keywords

           id                                           keywords
0         862  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...
1        8844  [{'id': 10090, 'name': 'board game'}, {'id': 1...
2       15602  [{'id': 1495, 'name': 'fishing'}, {'id': 12392...
3       31357  [{'id': 818, 'name': 'based on novel'}, {'id':...
4       11862  [{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...
...       ...                                                ...
46414  439050             [{'id': 10703, 'name': 'tragic love'}]
46415  111109  [{'id': 2679, 'name': 'artist'}, {'id': 14531,...
46416   67758                                                 []
46417  227506                                                 []
46418  461257                                                 []

[46419 rows x 2 columns]

In [37]:
#keywords['id'] = keywords['id'].astype('int')
#credits['id'] = credits['id'].astype('int')
#md['id'] = md['id'].astype('int')

In [38]:
movies_df = movies_df.merge(credits, on='id')
movies_df = movies_df.merge(keywords, on='id')

In [39]:
smallmovies_df = movies_df[movies_df['id'].isin(links_small)]
smallmovies_df.shape

(9219, 27)

We now have our cast, crew, genres and credits, all in one dataframe. Let us wrangle this a little more using the following intuitions:

        Crew: From the crew, we will only pick the director as our feature since the others don't contribute that much to the feel of the movie.
        Cast: Choosing Cast is a little more tricky. Lesser known actors and minor roles do not really affect people's opinion of a movie. Therefore, we must only select the major characters and their respective actors. Arbitrarily we will choose the top 3 actors that appear in the credits list.

In [40]:
from ast import literal_eval
smallmovies_df['cast'] = smallmovies_df['cast'].apply(literal_eval) #literal eval to convert string dictionary to dictionary
smallmovies_df['crew'] = smallmovies_df['crew'].apply(literal_eval) 
smallmovies_df['keywords'] = smallmovies_df['keywords'].apply(literal_eval)
smallmovies_df['cast_size'] = smallmovies_df['cast'].apply(lambda x: len(x))
smallmovies_df['crew_size'] = smallmovies_df['crew'].apply(lambda x: len(x))

<ipython-input-40-7b7dad4911fa>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  smallmovies_df['cast'] = smallmovies_df['cast'].apply(literal_eval) #literal eval to convert string dictionary to dictionary
<ipython-input-40-7b7dad4911fa>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  smallmovies_df['crew'] = smallmovies_df['crew'].apply(literal_eval)
<ipython-input-40-7b7dad4911fa>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  smallmovies_df['keywords'] = smallmovies_df['keywords'].apply(literal_eval)
<ipython-input-40-7b7dad4911fa>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  smallmovies_df['cast_size'] = smallmovies_df['cast'].apply(lambda x: len(x))
<ipython-input-40-7b7dad4911fa>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  smallmovies_df['crew_size'] = smallmovies_df['crew'].apply(lambda x: len(x))

In [41]:
def get_director(x):
    for i in x:
        if i['job'] == 'Director':
            return i['name']
    return np.nan

In [42]:
#for i in (smallmovies_df['crew'][0]):
#    print(i)

In [43]:
smallmovies_df['director'] = smallmovies_df['crew'].apply(get_director)

<ipython-input-43-a3799fe2e191>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  smallmovies_df['director'] = smallmovies_df['crew'].apply(get_director)

In [44]:
smallmovies_df['cast'] = smallmovies_df['cast'].apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else [])
smallmovies_df['cast'] = smallmovies_df['cast'].apply(lambda x: x[:3] if len(x) >=3 else x)

<ipython-input-44-b277148890d3>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  smallmovies_df['cast'] = smallmovies_df['cast'].apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else [])
<ipython-input-44-b277148890d3>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  smallmovies_df['cast'] = smallmovies_df['cast'].apply(lambda x: x[:3] if len(x) >=3 else x)

In [45]:
smallmovies_df['keywords'] = smallmovies_df['keywords'].apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else [])

<ipython-input-45-1ed76c722889>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  smallmovies_df['keywords'] = smallmovies_df['keywords'].apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else [])

Creating a data lump containing genres,directors,main actors and keywords.Then we will be use count vectorizer to create a count matrix.Rest we will be using cosine similarities to get similar movies

Steps for preparation of credits and genre data:
        Strip Spaces and Convert to Lowercase from all our features. This way, the engine will not confuse between Johnny Depp and Johnny Galecki.
        Mention Director 2 times to give it more weight relative to the entire cast.

In [46]:
smallmovies_df['cast'] = smallmovies_df['cast'].apply(lambda x: [str.lower(i.replace(" ", "")) for i in x])

<ipython-input-46-4a19f8e83bc1>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  smallmovies_df['cast'] = smallmovies_df['cast'].apply(lambda x: [str.lower(i.replace(" ", "")) for i in x])

In [47]:
smallmovies_df['director'] = smallmovies_df['director'].astype('str').apply(lambda x: str.lower(x.replace(" ", "")))
smallmovies_df['director'] = smallmovies_df['director'].apply(lambda x: [x,x])

<ipython-input-47-4307a33cf2b5>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  smallmovies_df['director'] = smallmovies_df['director'].astype('str').apply(lambda x: str.lower(x.replace(" ", "")))
<ipython-input-47-4307a33cf2b5>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  smallmovies_df['director'] = smallmovies_df['director'].apply(lambda x: [x,x])

In [48]:
s = smallmovies_df.apply(lambda x: pd.Series(x['keywords']),axis=1).stack().reset_index(level=1, drop=True)
s.name = 'keyword'

<ipython-input-48-7894a5792596>:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  s = smallmovies_df.apply(lambda x: pd.Series(x['keywords']),axis=1).stack().reset_index(level=1, drop=True)

In [49]:
#counting the frequency of each keyword
s = s.value_counts()
s

independent film        610
woman director          550
murder                  399
duringcreditsstinger    327
based on novel          318
                       ...
town meeting              1
family farm               1
post holocaust            1
christmas lights          1
forced suicide            1
Name: keyword, Length: 12940, dtype: int64

In [50]:
s = s[s>1]

In [51]:
#stemming is a text processing part which is used to remove stems of a word may result in meaningless word
#lemmetization is used when meaning is need to be retained
from nltk.stem.snowball import SnowballStemmer #if nltk is not working in jn -https://stackoverflow.com/questions/61150183/cannot-import-nltk-in-jupyter-even-though-i-can-import-it-in-python-console
stemmer = SnowballStemmer('english')
stemmer.stem('dogs')

'dog'

In [52]:
def filter_keywords(x):
    words = []
    for i in x:
        if i in s:
            words.append(i)
    return words

In [53]:
smallmovies_df['keywords'] = smallmovies_df['keywords'].apply(filter_keywords)
smallmovies_df['keywords'] = smallmovies_df['keywords'].apply(lambda x: [stemmer.stem(i) for i in x])
smallmovies_df['keywords'] = smallmovies_df['keywords'].apply(lambda x: [str.lower(i.replace(" ", "")) for i in x])

<ipython-input-53-498cc3ec5b2d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  smallmovies_df['keywords'] = smallmovies_df['keywords'].apply(filter_keywords)
<ipython-input-53-498cc3ec5b2d>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  smallmovies_df['keywords'] = smallmovies_df['keywords'].apply(lambda x: [stemmer.stem(i) for i in x])
<ipython-input-53-498cc3ec5b2d>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  smallmovies_df['keywords'] = smallmovies_df['keywords'].apply(lambda x: [str.lower(i.replace(" ", "")) for i in x])

In [61]:
print(smallmovies_df)

       adult                              belongs_to_collection    budget  \
0      False  {'id': 10194, 'name': 'Toy Story Collection', ...  30000000
1      False                                                NaN  65000000
2      False  {'id': 119050, 'name': 'Grumpy Old Men Collect...         0
3      False                                                NaN  16000000
4      False  {'id': 96871, 'name': 'Father of the Bride Col...         0
...      ...                                                ...       ...
40952  False                                                NaN   8000000
41172  False                                                NaN   1000000
41225  False                                                NaN  15050000
41391  False                                                NaN  15000000
41669  False                                                NaN         0

                                                  genres  \
0      [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
1      [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
2      [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
3      [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
4                         [{'id': 35, 'name': 'Comedy'}]
...                                                  ...
40952                      [{'id': 18, 'name': 'Drama'}]
41172  [{'id': 53, 'name': 'Thriller'}, {'id': 10749,...
41225  [{'id': 12, 'name': 'Adventure'}, {'id': 18, '...
41391  [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
41669  [{'id': 99, 'name': 'Documentary'}, {'id': 104...

                                    homepage        id    imdb_id  \
0       http://toystory.disney.com/toy-story     862.0  tt0114709
1                                        NaN    8844.0  tt0113497
2                                        NaN   15602.0  tt0113228
3                                        NaN   31357.0  tt0114885
4                                        NaN   11862.0  tt0113041
...                                      ...       ...        ...
40952                                    NaN  159550.0  tt0255313
41172                                    NaN  392572.0  tt5165344
41225                                    NaN  402672.0  tt3859980
41391                                    NaN  315011.0  tt4262980
41669  http://www.thebeatlesliveproject.com/  391698.0  tt2531318

      original_language                                     original_title  \
0                    en                                          Toy Story
1                    en                                            Jumanji
2                    en                                   Grumpier Old Men
3                    en                                  Waiting to Exhale
4                    en                        Father of the Bride Part II
...                 ...                                                ...
40952                en                     The Last Brickmaker in America
41172                hi                                             रुस्तम
41225                hi                                       Mohenjo Daro
41391                ja                                             シン・ゴジラ
41669                en  The Beatles: Eight Days a Week - The Touring Y...

                                                overview  ...  \
0      Led by Woody, Andy's toys live happily in his ...  ...
1      When siblings Judy and Peter discover an encha...  ...
2      A family wedding reignites the ancient feud be...  ...
3      Cheated on, mistreated and stepped on, the wom...  ...
4      Just when George Banks has recovered from his ...  ...
...                                                  ...  ...
40952  A man must cope with the loss of his wife and ...  ...
41172  Rustom Pavri, an honourable officer of the Ind...  ...
41225  Village lad Sarman is drawn to big, bad Mohenj...  ...
41391  From the mind behind Evangelion comes a hit la...  ...
41669  The band stormed Europe in 1963, and, in 1964,...  ...

                                                   title  video vote_average  \
0                                              Toy Story  False          7.7
1                                                Jumanji  False          6.9
2                                       Grumpier Old Men  False          6.5
3                                      Waiting to Exhale  False          6.1
4                            Father of the Bride Part II  False          5.7
...                                                  ...    ...          ...
40952                     The Last Brickmaker in America  False          7.0
41172                                             Rustom  False          7.3
41225                                       Mohenjo Daro  False          6.7
41391                                      Shin Godzilla  False          6.6
41669  The Beatles: Eight Days a Week - The Touring Y...  False          7.6

      vote_count                                               cast  \
0         5415.0                   [tomhanks, timallen, donrickles]
1         2413.0        [robinwilliams, jonathanhyde, kirstendunst]
2           92.0           [waltermatthau, jacklemmon, ann-margret]
3           34.0     [whitneyhouston, angelabassett, lorettadevine]
4          173.0            [stevemartin, dianekeaton, martinshort]
...          ...                                                ...
40952        1.0        [sidneypoitier, wendycrewson, jayo.sanders]
41172       25.0             [akshaykumar, ileanad'cruz, eshagupta]
41225       26.0             [hrithikroshan, poojahegde, kabirbedi]
41391      152.0  [hirokihasegawa, yutakatakenouchi, satomiishih...
41669       92.0            [paulmccartney, ringostarr, johnlennon]

                                                    crew  \
0      [{'credit_id': '52fe4284c3a36847f8024f49', 'de...
1      [{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...
2      [{'credit_id': '52fe466a9251416c75077a89', 'de...
3      [{'credit_id': '52fe44779251416c91011acb', 'de...
4      [{'credit_id': '52fe44959251416c75039ed7', 'de...
...                                                  ...
40952  [{'credit_id': '544475aac3a36819fb000578', 'de...
41172  [{'credit_id': '5951baf692514129c4016600', 'de...
41225  [{'credit_id': '57cd5d3592514179d50018e8', 'de...
41391  [{'credit_id': '560892fa92514177550018b2', 'de...
41669  [{'credit_id': '57057c6cc3a3680dca000285', 'de...

                                                keywords cast_size crew_size  \
0      [jealousi, toy, boy, friendship, friend, rival...        13       106
1      [boardgam, disappear, basedonchildren'sbook, n...        26        16
2                 [fish, bestfriend, duringcreditssting]         7         4
3      [basedonnovel, interracialrelationship, single...        10        10
4      [babi, midlifecrisi, confid, age, daughter, mo...        12         7
...                                                  ...       ...       ...
40952                                       [friendship]         7         2
41172                                        [bollywood]        14        16
41225                                        [bollywood]        12        16
41391   [monster, godzilla, giantmonst, destruct, kaiju]        49        27
41669                               [music, documentari]        28         7

                                     director
0                [johnlasseter, johnlasseter]
1                  [joejohnston, joejohnston]
2                [howarddeutch, howarddeutch]
3            [forestwhitaker, forestwhitaker]
4                [charlesshyer, charlesshyer]
...                                       ...
40952          [greggchampion, greggchampion]
41172      [tinusureshdesai, tinusureshdesai]
41225  [ashutoshgowariker, ashutoshgowariker]
41391              [hideakianno, hideakianno]
41669                  [ronhoward, ronhoward]

[9219 rows x 30 columns]

In [72]:
def convert(x):
    return list(x)
smallmovies_df['genres'] = smallmovies_df['genres'].apply(convert)

<ipython-input-72-5de58cbdfe79>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  smallmovies_df['genres'] = smallmovies_df['genres'].apply(convert)

In [75]:
#cols = ['keywords', 'cast', 'director','genres']
#smallmovies_df["combined"] = smallmovies_df["keywords"].str.cat(smallmovies_df[["cast", "director","genres"]].astype(str)
#                                                                , sep="_")
smallmovies_df['dump'] = smallmovies_df['keywords'] + smallmovies_df['cast'] + smallmovies_df['director'] + smallmovies_df['genres']
smallmovies_df['dump'] = smallmovies_df['dump'].apply(lambda x: ' '.join(x))

<ipython-input-75-7cd22c652733>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  smallmovies_df['dump'] = smallmovies_df['keywords'] + smallmovies_df['cast'] + smallmovies_df['director'] + smallmovies_df['genres']
<ipython-input-75-7cd22c652733>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  smallmovies_df['dump'] = smallmovies_df['dump'].apply(lambda x: ' '.join(x))

In [73]:
#type(smallmovies_df['genres'][0])

list

In [77]:
from sklearn.feature_extraction.text import CountVectorizer
count = CountVectorizer(analyzer='word',ngram_range=(1, 2),min_df=0, stop_words='english')
count_matrix = count.fit_transform(smallmovies_df['dump'])

In [78]:
cosine_sim = cosine_similarity(count_matrix, count_matrix)

In [79]:
smallmovies_df = smallmovies_df.reset_index()
titles = smallmovies_df['title']
indices = pd.Series(smallmovies_df.index, index=smallmovies_df['title'])

In [80]:
#cosine similarities are changed so we can use same recommendation func to recommend
get_recommendations('The Dark Knight').head(10)

8031                   The Dark Knight Rises
6218                           Batman Begins
7659              Batman: Under the Red Hood
1134                          Batman Returns
6623                            The Prestige
9024      Batman v Superman: Dawn of Justice
2131                                Superman
8478    Justice League: Crisis on Two Earths
7648                               Inception
8001                        Batman: Year One
Name: title, dtype: object

The recommender now gives more variation in movies based on other factors most importantly the director.
other types of experimentation can also be done like using genres on bases of frequencies,movies with same language

# Popularity and ratings

simply the recommendor uses similarity between the movies to recommend something even though it has very bad reviews or was critisized at the time of release . so improving recommendations based on popularity and ratings

In [87]:
def improved_recommendations(title):
    idx = indices[title]
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:26] #top 25movies based on similarity scores
    movie_indices = [i[0] for i in sim_scores]
    
    movies = smallmovies_df.iloc[movie_indices][['title', 'vote_count', 'vote_average']] #removing useless features
    vote_counts = movies[movies_df['vote_count'].notnull()]['vote_count'].astype('int')
    vote_averages = movies[movies_df['vote_average'].notnull()]['vote_average'].astype('int')
    C = vote_averages.mean()
    m = vote_counts.quantile(0.60) #60 percentile movies
    #imdb score to calculate weighted rating
    qualified = movies[(movies['vote_count'] >= m) & (movies['vote_count'].notnull()) 
                          & (movies['vote_average'].notnull())]
    qualified['vote_count'] = qualified['vote_count'].astype('int')
    qualified['vote_average'] = qualified['vote_average'].astype('int')
    qualified['wr'] = qualified.apply(weighted_rating, axis=1)
    qualified = qualified.sort_values('wr', ascending=False).head(10)
    return qualified

In [88]:
improved_recommendations('The Dark Knight')

<ipython-input-87-80e0bff93a75>:9: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  vote_counts = movies[movies_df['vote_count'].notnull()]['vote_count'].astype('int')
<ipython-input-87-80e0bff93a75>:10: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  vote_averages = movies[movies_df['vote_average'].notnull()]['vote_average'].astype('int')
<ipython-input-87-80e0bff93a75>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  qualified['vote_count'] = qualified['vote_count'].astype('int')
<ipython-input-87-80e0bff93a75>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  qualified['vote_average'] = qualified['vote_average'].astype('int')
<ipython-input-87-80e0bff93a75>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  qualified['wr'] = qualified.apply(weighted_rating, axis=1)

                                   title  vote_count  vote_average        wr
7648                           Inception       14075             8  7.991569
8613                        Interstellar       11187             8  7.989402
6623                        The Prestige        4510             8  7.973884
3381                             Memento        4168             8  7.971766
8031               The Dark Knight Rises        9263             7  6.992581
6218                       Batman Begins        7511             7  6.990862
8872          Captain America: Civil War        7462             7  6.990803
8419                        Man of Steel        6462             6  5.997069
8467                          Kick-Ass 2        2275             6  5.991789
9024  Batman v Superman: Dawn of Justice        7189             5  5.004270

# Collaborative Filtering

Content based engine suffers from some severe limitations. It is only capable of suggesting movies which are close to a certain movie. That is, it is not capable of capturing tastes and providing recommendations across genres.
Basically everybody recieves the same recommendations regardless of choices

Therefore,a technique called Collaborative Filtering is used to make recommendations to Movie Watchers. Collaborative Filtering is based on the idea that users similar to a me can be used to predict how much I will like a particular product or service those users have used/experienced but I have not.

Implementing Collaborative Filtering using the Surprise library that used extremely powerful algorithms like Singular Value Decomposition (SVD) to minimise RMSE (Root Mean Square Error) and give great recommendations.Knn algorithm can also be used

In [92]:
from surprise import Reader, Dataset, SVD
from surprise.model_selection import cross_validate

In [94]:
ratings = pd.read_csv('datasets/ratings_small.csv')
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [97]:
reader = Reader()
data = Dataset.load_from_df(ratings[['userId', 'movieId', 'rating']], reader)
#data.split(n_folds=5)

In [98]:
svd = SVD()
cross_validate(svd, data, measures=['RMSE', 'MAE'], cv=5)#cv is folds

{'test_rmse': array([0.90535528, 0.89638674, 0.89719917, 0.89916459, 0.88617179]),
 'test_mae': array([0.69524761, 0.68951865, 0.693176  , 0.69107116, 0.68428101]),
 'fit_time': (4.6433587074279785,
  4.4534525871276855,
  4.5614097118377686,
  4.580345869064331,
  4.527974367141724),
 'test_time': (0.12497067451477051,
  0.22215771675109863,
  0.13367795944213867,
  0.1936485767364502,
  0.13563919067382812)}

In [101]:
#rmse is approximately 0.898 which is good enough
trainset = data.build_full_trainset()
svd.fit(trainset)

In [102]:
ratings[ratings['userId'] == 1]

    userId  movieId  rating   timestamp
0        1       31     2.5  1260759144
1        1     1029     3.0  1260759179
2        1     1061     3.0  1260759182
3        1     1129     2.0  1260759185
4        1     1172     4.0  1260759205
5        1     1263     2.0  1260759151
6        1     1287     2.0  1260759187
7        1     1293     2.0  1260759148
8        1     1339     3.5  1260759125
9        1     1343     2.0  1260759131
10       1     1371     2.5  1260759135
11       1     1405     1.0  1260759203
12       1     1953     4.0  1260759191
13       1     2105     4.0  1260759139
14       1     2150     3.0  1260759194
15       1     2193     2.0  1260759198
16       1     2294     2.0  1260759108
17       1     2455     2.5  1260759113
18       1     2968     1.0  1260759200
19       1     3671     3.0  1260759117

In [103]:
svd.predict(1, 302, 3)

Prediction(uid=1, iid=302, r_ui=3, est=2.6770836132242666, details={'was_impossible': False})

For movie with ID 302, we get an estimated prediction of 2.686. One startling feature of this recommender system is that it doesn't care what the movie is (or what it contains). It works purely on the basis of an assigned movie ID and tries to predict ratings based on how the other users have predicted the movie.

# Hybrid recommender

combining the content based and collaborative based filtering techniques to build a recommender that gives similar movies sorted on the basis of expected ratings by that particular user.

In [104]:
id_map = pd.read_csv('datasets/links_small.csv')[['movieId', 'tmdbId']]
id_map['tmdbId'] = id_map['tmdbId'].apply(convert_int)
id_map.columns = ['movieId', 'id']
id_map = id_map.merge(smallmovies_df[['title', 'id']], on='id').set_index('title')
#id_map = id_map.set_index('tmdbId')

In [105]:
indices_map = id_map.set_index('id')

In [109]:
#calculating cosine similarity first(content) and then ajusting acording to particular user(collaborative)
def hybrid(userId, title):
    idx = indices[title]
    tmdbId = id_map.loc[title]['id']
    #print(idx)
    movie_id = id_map.loc[title]['movieId']
    
    sim_scores = list(enumerate(cosine_sim[int(idx)]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:26]
    movie_indices = [i[0] for i in sim_scores]
    
    movies = smallmovies_df.iloc[movie_indices][['title', 'vote_count', 'vote_average', 'id']]
    movies['est'] = movies['id'].apply(lambda x: svd.predict(userId, indices_map.loc[x]['movieId']).est)
    movies = movies.sort_values('est', ascending=False)
    return movies.head(10)

In [110]:
hybrid(1, 'Avatar')

                           title  vote_count  vote_average        id       est
1011              The Terminator      4208.0           7.4     218.0  3.358782
987                        Alien      4564.0           7.9     348.0  3.201713
522   Terminator 2: Judgment Day      4274.0           7.7     280.0  3.176826
974                       Aliens      3282.0           7.7     679.0  3.142986
8934                        Home      1539.0           6.8  228161.0  3.052703
4987               Battle Royale       992.0           7.3    3176.0  3.050676
8401     Star Trek Into Darkness      4479.0           7.4   54138.0  2.922095
899                      Platoon      1236.0           7.5     792.0  2.878213
4260           The Four Feathers       164.0           6.5    9093.0  2.842879
2014            Fantastic Planet       140.0           7.6   16306.0  2.827526

In [111]:
hybrid(1000, 'Avatar')

                           title  vote_count  vote_average        id       est
1011              The Terminator      4208.0           7.4     218.0  3.954328
899                      Platoon      1236.0           7.5     792.0  3.944161
974                       Aliens      3282.0           7.7     679.0  3.918095
522   Terminator 2: Judgment Day      4274.0           7.7     280.0  3.914490
987                        Alien      4564.0           7.9     348.0  3.913378
4987               Battle Royale       992.0           7.3    3176.0  3.904154
8401     Star Trek Into Darkness      4479.0           7.4   54138.0  3.854377
2014            Fantastic Planet       140.0           7.6   16306.0  3.763687
922                    The Abyss       822.0           7.1    2756.0  3.641254
8231                Side by Side       111.0           7.1  110354.0  3.626591

We see that for our hybrid recommender, we get different recommendations for different users although the movie is the same. Hence, our recommendations are more personalized and tailored towards particular users.